<!DOCTYPE html>
<html>
<head>
    <title>Upload Multiple Excel Files</title>
</head>
<body>
    <h1>Upload and Merge  Multiple Excel Files</h1>
    <a href="/upload_file">Upload the Files </a><br> <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if data %}
            {% for item in data %}
            <input type="checkbox" name="selected_files" value="{{ item.id }}">{{item.name}} <br>
            {% endfor %}
        {% else %} <br>
        <p>No Files are uploaded!. </p>
        {% endif %}
        <br><br>
        <!-- <input type="file" name="files" multiple accept=".xlsx"> -->
        <button type="submit">Merge Files</button>
    </form>
</body>
</html>